body {
    background-color: #FFFFF0;
    background-image: linear-gradient(PaleGoldenRod, DarkTurquoise)
}

div {
    font-family: sans-serif;
    text-align: center;
}

.title {
    padding: 10px;
    background-color: #9370DB;
}

table {
    text-align: center;
}

footer {
    margin: 10px;
}